<!doctype html>
<!--[if lt IE 7]>      <html class="no-js lt-ie9 lt-ie8 lt-ie7"> <![endif]-->
<!--[if IE 7]>         <html class="no-js lt-ie9 lt-ie8"> <![endif]-->
<!--[if IE 8]>         <html class="no-js lt-ie9"> <![endif]-->
<!--[if gt IE 8]><!--> <html class="no-js"> <!--<![endif]-->
    <head>
        <meta charset="utf-8">
        <meta http-equiv="X-UA-Compatible" content="IE=edge">
        <title>webapp</title>
        <meta name="description" content="">
        <meta name="viewport" content="width=device-width">
        <link rel="stylesheet" href="{{ STATIC_URL }}lib/bootstrap/css/bootstrap.min.css">
        <link rel="stylesheet" href="{{ STATIC_URL }}css/main.css">
        <script src="{{ STATIC_URL }}lib/modernizr/modernizr.js"></script>
    </head>

    <body>
        <!--[if lt IE 10]>
            <p class="browsehappy">You are using an <strong>outdated</strong> browser. Please <a href="http://browsehappy.com/">upgrade your browser</a> to improve your experience.</p>
        <![endif]-->

        {% block main %}
        {% endblock %}

        <script src="{{ STATIC_URL }}lib/jquery/jquery.js"></script>
        <script src="{{ STATIC_URL }}lib/angular.js"></script>
        <script src="{{ STATIC_URL }}lib/datatables/js/jquery.dataTables.js"></script>
        <script src="{{ STATIC_URL }}lib/bootstrap/js/bootstrap.min.js"></script>
        <script src="{{ STATIC_URL }}js/main.js"></script>
    </body>
</html>
